In [1]:
import pyspark

In [2]:
pyspark.__file__

'/home/rasid/spark/spark-3.0.3-bin-hadoop3.2/python/pyspark/__init__.py'

In [5]:
from pyspark.sql import SparkSession

In [6]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

In [7]:
!wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

--2022-02-28 06:57:32--  https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.217.46.246
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.217.46.246|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘taxi+_zone_lookup.csv.1’

taxi+_zone_lookup.c 100%[===================>]  12.03K  --.-KB/s    in 0s

2022-02-28 06:57:33 (170 MB/s) - ‘taxi+_zone_lookup.csv.1’ saved [12322/12322]

In [8]:
!head taxi+_zone_lookup.csv

"LocationID","Borough","Zone","service_zone"
1,"EWR","Newark Airport","EWR"
2,"Queens","Jamaica Bay","Boro Zone"
3,"Bronx","Allerton/Pelham Gardens","Boro Zone"
4,"Manhattan","Alphabet City","Yellow Zone"
5,"Staten Island","Arden Heights","Boro Zone"
6,"Staten Island","Arrochar/Fort Wadsworth","Boro Zone"
7,"Queens","Astoria","Boro Zone"
8,"Queens","Astoria Park","Boro Zone"
9,"Queens","Auburndale","Boro Zone"

In [9]:
df = spark.read \
    .option("header", "true") \
    .csv('taxi+_zone_lookup.csv')

In [10]:
df.show()

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
|        20|        Bronx|             Belmont|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

In [13]:
df.write.parquet('zones', mode='overwrite')

In [14]:
!ls -lh

total 136K
-rw-rw-r-- 1 rasid rasid 7.9K Feb 27 13:55 03_test.ipynb
-rw-rw-r-- 1 rasid rasid  18K Feb 26 09:07 04_pyspark.ipynb
-rw-rw-r-- 1 rasid rasid  33K Feb 26 09:07 05_taxi_schema.ipynb
-rw-rw-r-- 1 rasid rasid 8.7K Feb 26 09:07 06_spark_sql.ipynb
-rw-rw-r-- 1 rasid rasid 7.6K Feb 26 09:07 07_groupby_join.ipynb
-rw-rw-r-- 1 rasid rasid  12K Feb 26 09:07 08_rdds.ipynb
-rwxrwxr-x 1 rasid rasid  559 Feb 26 09:07 download_data.sh
-rw-rw-r-- 1 rasid rasid  13K Aug 17  2016 taxi+_zone_lookup.csv
-rw-rw-r-- 1 rasid rasid  13K Aug 17  2016 taxi+_zone_lookup.csv.1
drwxr-xr-x 2 rasid rasid 4.0K Feb 28 06:58 zones